<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
<!--     <h3>footinvest</h3> -->
<%= image_tag "logo3.png", class: "navbar-wagon-brand" %>
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->

      <% (controller_name == 'pages' && action_name == 'feed') ? color_class = 'green' : color_class = '' %>
      <%= link_to "Feed", feed_path, class: "navbar-wagon-item navbar-wagon-link #{color_class}" %>

<!--       <#%= link_to "dashboard", dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %> -->

      <% (controller_name == 'pages' && action_name == 'my_players') ? color_class = 'green' : color_class = '' %>
      <%= link_to "My players", my_players_path,
       class: "navbar-wagon-item navbar-wagon-link #{color_class}" %>


      <% (controller_name == 'players' && action_name == 'index') ? color_class = 'green' : color_class = '' %>
      <%= link_to "Market", players_path, class: "navbar-wagon-item navbar-wagon-link #{color_class}" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "undraw_profile_pic_ic5t.svg", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><p>balance: <%= @balance %></p></li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <div class="btn-landing">
        <%= link_to t(".sign_up", default: "Create Account"), new_user_registration_path%>
      </div>
      <div class="btn-landing-white">
        <%= link_to t(".sign_in", default: "Sign In"), new_user_session_path%>
      </div>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

