<h1>this is the feed page</h1>

<div>
  <%= @results1[0].competition.name %> <br>
  <% @results1.each do |result| %>
    <%= result.home_club_name %> <%= result.home_club_goals %> - <%=result.away_club_goals %> <%= result.away_club_name %>  <%= result.date_time %>
    <br>
  <% end %>
  <%= @results2[0].competition.name %> <br>
  <% @results1.each do |result| %>
    <%= result.home_club_name %> <%= result.home_club_goals %> - <%=result.away_club_goals %> <%= result.away_club_name %>  <%= result.date_time %>
    <br>
  <% end %>
  <%= @results3[0].competition.name %> <br>
  <% @results1.each do |result| %>
    <%= result.home_club_name %> <%= result.home_club_goals %> - <%=result.away_club_goals %> <%= result.away_club_name %>  <%= result.date_time %>
    <br>
  <% end %>
</div>
<br>
<br>
<br>
<div>
 <% @news.each do |new| %>
    <%= new.tag %> - <%= new. title %> <%= new.date_time %><br>
    <%= new.summary %> <br>
  <% end %>
</div>
<br>
<br>
<br>
top Winners
<div>
  <% @top_winners.each do |key, value| %>
      <%= @players.where(id: key)[0].name %> - <%= value %><br>
    <% end %>
</div>
<br>
<br>
<br>
top Losers
<div>
<% @top_losers.each do |key, value| %>
      <%= @players.where(id: key)[0].name %> - <%= value %><br>
    <% end %>
</div>




