<h1>this is the feed page</h1>

<div>
  <% @results.each do |result| %>
    <%= result.competition_id %>
    <%= result.home_club_name %> <%= result.home_club_goals %> - <%=result.away_club_goals %> <%= result.away_club_name %>  <%= result.date_time %>
    <br>
  <% end %>
</div>
<br>
<br>
<br>
<div>
 <% @news.each do |new| %>
    <%= new.tag %> - <%= new. title %> <%= new.date_time %><br>
    <%= new.summary %> <br>
  <% end %>
</div>
<br>
<br>
<br>

Top winners: <%= @variation.values.sort.reverse.take(5) %> <br>
Top losers: <%= @variation.values.sort.take(5) %>

