<h1>this is the feed page</h1>

<div>
  <% @results.each do |result| %>
    <% home_club_name = @clubs.where(id: result.home_club_id)[0].name %>
    <% away_club_name = @clubs.where(id: result.away_club_id)[0].name %>
    <%= result.competition_id %>
    <%= home_club_name %> <%= result.home_club_goals %> - <%=result.away_club_goals %> <%= away_club_name %>  <%= result.date_time %>
    <br>
  <% end %>
</div>
<br>
<br>
<br>
<div>
 <% @news.each do |new| %>
    <%= new.tag %> - <%= new. title %> <%= new.date_time %><br>
    <%= new.summary %> <br>
  <% end %>
</div>
<br>
<br>
<br>
