<!-- ****************RESULTS****************++ -->

  <div class="fixed-coins">
    <div class="marquee3k" data-speed="1" data-reverse="bool" data-pausable="bool">
            <p class = "stock_up"> <%= @up %> </p>
    </div>
    <div class="marquee3k" data-speed="1.25" data-reverse="bool" data-pausable="bool">
            <p class = "stock_down"> <%= @down %> </p>
    </div>
  </div>

<div class="main-container">
    <div id="results">

      <h3 class="title">RESULTS</h3>
      <h4 class="competition"><%= @results1[0].competition.name %></h4>
      <% @results1.each do |result| %>
        <div class = "match">
          <p class="home1 club-name"><%= result.home_club_name %></p>
          <p class= "result"><%= result.home_club_goals %> - <%=result.away_club_goals %> </p>
          <p class="away club-name"><%= result.away_club_name %></p>
        </div>
      <% end %>

      <h4 class="competition"><%= @results2[0].competition.name %></h4>
      <% @results2.each do |result| %>
        <div class = "match">
          <p class="home1 club-name"><%= result.home_club_name %></p>
          <p class= "result"><%= result.home_club_goals %> - <%=result.away_club_goals %> </p>
          <p class="away club-name"><%= result.away_club_name %></p>
        </div>

      <% end %>

      <h4 class="competition"><%= @results3[0].competition.name %></h4>
      <% @results3.each do |result| %>
        <div class = "match">
          <p class="home1 club-name"><%= result.home_club_name %></p>
          <p class= "result"><%= result.home_club_goals %> - <%=result.away_club_goals %> </p>
          <p class="away club-name"><%= result.away_club_name %></p>
        </div>

      <% end %>
    </div>

   <!-- ****************+NEWS****************++ -->

    <!--   <div class="col-xs-7">
      <h4 class="title top">NEWS</h4>
      <%# @news.each do |new| %>
        <div class = "news news-product">
          <%#= image_tag(new.photo, height: '70', width: '100', crop: :fill)%>
          <div class="news-product-infos">
            <h2> <%#= new.tag %> </h2>  <br>
            <h4><%#= new. title %></h4>  <br>
            <p><%#= new.summary %> All the breaking news and latest views from today's eight Premier League manager news conferences.</p>
            <br>
          </div>
      </div>
      <%# end %>
    </div> -->

   <!-- ****************+TOP WINNERS / LOSERS ****************++ -->
  <div class="tops">

      <h3 class="title">TOP WINNERS</h3>
      <div  class="feed-cards">
        <% @top_winners.each do |key, value| %>
          <%#= link_to player_path(@players.where(id: key)[0]) do %>
            <div class="card-trip">
              <%= image_tag(@players.where(id: key)[0].photo) %>
              <div class="card-trip-infos">
                <div class="player-info-left">
                  <h3><%= @players.where(id: key)[0].name %></h3>
                  <p> <strong> <%= @players.where(id: key)[0].club.name %> </strong> ( <%= @players.where(id: key)[0].position.downcase %> ) </p>
                </div>
                <div class="player-info-right">
                  <p id="green"> <strong><%= value %>%</strong> </p>
                </div>
              </div>
            </div>
          <%# end %>
        <% end %>
      </div>

      <h3 class="title">TOP LOSERS</h3>
      <div class="feed-cards">
        <% @top_losers.each do |key, value| %>

          <div class="card-trip">
            <%= image_tag(@players.where(id: key)[0].photo)%>
            <div class="card-trip-infos">
              <div class="player-info-left">
                <h3><%= @players.where(id: key)[0].name %></h3>
                <p> <strong> <%= @players.where(id: key)[0].club.name %> </strong> ( <%= @players.where(id: key)[0].position.downcase %> ) </p>
              </div>
              <p id="red"> <strong><%= value %>%</strong></p>
            </div>
          </div>

      <% end %>
      </div>


    <div class="newspaper">
      <h3 class="title">NEWS</h3>
      <div class="feed-cards">
        <% @img_array.each do |i|  %>
            <div class="news-trip">
              <img src=" <%= i %> ">
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- <img src="<%= @img_array.first  %>" alt=""> -->

