
<div class="banner">
  <div class="banner-content">
    <h3>footinvest</h3>
    <h1>Can you spot a Star?</h1>
    <p>Become a real football investor and make money, transparently</p>
    <div>
    <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "btn-landing-blue" %>
    </div>
    <div>
    <%= link_to t(".sign_in", default: "Sign In"), new_user_registration_path, class: "btn-landing-white" %>
    </div>
    <div class="main-image">
      <%= image_tag('1.png') %>
    </div>
    <div class="litle-image11">
      <%= image_tag('11.png') %>
    </div>
    <div class="litle-image111">
      <%= image_tag('111.png') %>
    </div>
    <div class="litle-image1111">
      <%= image_tag('1111.png') %>
    </div>
  </div>
</div>
