<h1>this is my_players page</h1>

<% @my_players.each do |player| %>

  <!-- photo -->
  <%= image_tag(player.photo, height: '32', width: '32', crop: :fill) %> |

  <!-- name -->
  <%= player.name %> <%= player.id %> |

  <!-- position -->
  <%= player.position %> |

  <!-- form, goals and assists -->
  <% form = [] %>
  <% goals = [] %>
  <% assists = [] %>

  <% player.stats.each do |stat| %>
    <% form << stat.form.downcase %>
    <% goals << stat.goals %>
    <% assists << stat.assists %>
  <% end %>

  <% if form.include?('high') %>
    <% form = 'HGH' %>
  <% elsif form.include?('medium') %>
    <% form = 'AVG' %>
  <% elsif form.include?('low') %>
    <% form = 'LOW' %>
  <% else %>
    <% form = '-' %>
  <% end %>

  form: <%= form %> |
  goals: <%= goals.inject(0){|sum,x| sum + x } %> |
  assists: <%= assists.inject(0){|sum,x| sum + x } %> |

  <!-- last price, minimum price and max price -->
  <% prices = [] %>

  <% @transactions.each do |transaction| %>
    <% prices << transaction.price if transaction.player_id == player.id %>
  <% end %>

  last price: <%= prices.first %> € |
  min price: <%= prices.min %> € |
  max price: <%= prices.max %> € |

  <!-- last variation -->
  price variation:
  <% @variation.each do |player_id, variation| %>
    <%= variation if player_id == player.id %>
  <% end %> % |

  <!-- tokens total value, total amount and average value -->
  <% tokens_total_value = player.tokens.where(owner: current_user).sum(:last_price) %>
  total value of tokens: <%= tokens_total_value %> € |

  <% token_total_amount = player.tokens.where(owner: current_user).count %>
  total tokens owned: <%= token_total_amount %> |

  <% token_average_value = tokens_total_value / token_total_amount %>
  average value of tokens: <%= token_average_value %> €

  <br>

<% end %>
