<div class="header">

  <div id="no-padding-bottom" class="row">

    <div class="header-info">

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="info">
          <h1> <i class="fas fa-futbol"></i> </h1>
          <h1> <%= @my_players.count %> </h1>
          <p> players on your team </p>
        </div>
      </div>

      <% total_value = [] %>
      <% total_amount = [] %>
      <% @my_players.each do |player| %>
        <% tokens_total_value = player.tokens.where(owner: current_user).sum(:last_price) %>
        <% total_value << tokens_total_value %>

        <% token_total_amount = player.tokens.where(owner: current_user).count %>
        <% total_amount << token_total_amount %>
      <% end %>
      <% total_value = total_value.inject(0){|sum,x| sum + x } %>
      <% total_amount = total_amount.inject(0){|sum,x| sum + x } %>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="info">
          <h1> <i class="fas fa-wallet"></i> </h1>
          <h1> <%= total_value %> € </h1>
          <p> portfolio value </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="info">
          <h1> <i class="fas fa-coins"></i> </h1>
          <h1> <%= total_amount %> </h1>
          <p> coins owned </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="info">
          <h1> <i class="fas fa-money-bill-alt"></i> </h1>
          <h1> <%= total_value / total_amount %> € </h1>
          <p> average coin value </p>
        </div>
      </div>

    </div>

  </div>

  <div id="no-padding-top" class="row">

    <div class="col-xs-12">

      <div class="header-charts">
        <h1> chart </h1>
      </div>

    </div>

  </div>

</div>



<div class="row">
  <% @my_players.each do |player| %>

    <!-- last price, minimum price and max price -->
    <% prices = [] %>

    <% @transactions.each do |transaction| %>
      <% prices << transaction.price if transaction.player_id == player.id %>
    <% end %>

    <!-- form, goals and assists -->
    <% form = [] %>
    <% goals = [] %>
    <% assists = [] %>

    <% player.stats.each do |stat| %>
      <% form << stat.form.downcase %>
      <% goals << stat.goals %>
      <% assists << stat.assists %>
    <% end %>

    <% if form.include?('high') %>
      <% form = 'HGH' %>
      <% cl = "green" %>
      <% icon = "fas fa-arrow-alt-circle-up" %>
    <% elsif form.include?('medium') %>
      <% form = 'AVG' %>
      <% cl = "yellow" %>
      <% icon = "fas fa-arrow-alt-circle-right" %>
    <% elsif form.include?('low') %>
      <% form = 'LOW' %>
      <% cl = "red" %>
      <% icon = "fas fa-arrow-alt-circle-down" %>
    <% else %>
      <% form = '-' %>
    <% end %>

    <!-- tokens total value, total amount and average value -->
    <% tokens_total_value = player.transactions.where(buying_user_id: current_user).sum(:price) %>

    <% token_total_amount = player.tokens.where(owner: current_user).count %>
    <% if token_total_amount == 1 %>
      <% quantity = "coin" %>
    <% else %>
      <% quantity = "coins" %>
    <% end %>

    <% token_average_value = tokens_total_value / token_total_amount %>

    <!-- tokens on sale? -->
    <% tokens_status = [] %>
    <% player.tokens.where(owner: current_user.id).each do |token| %>
      <% tokens_status << token.on_sale %>
    <% end %>
    <% tokens_status %>

    <!-- last variation -->
    <% last_variation = 0 %>
    <% @variation.each do |player_id, variation| %>
      <% last_variation = variation if player_id == player.id %>
    <% end %>
    <% if last_variation < 0 %>
      <% cl = "red" %>
    <% elsif last_variation > 0 %>
      <% last_variation = "+#{last_variation}" %>
      <% cl = "green" %>
    <% end %>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to player_path(player) do %>
          <div class="card-trip">
            <%= image_tag(player.photo)%>
              <% if tokens_status.include? true %>
            <div class="on-sale">
              <h3> selling... </h3>
            </div>
              <% end %>

            <div class="index">
              <h3 id=<%= cl %>> <%= last_variation %> % </h3>
            </div>
            <div class="car-trip-infos">
              <div id="player">

                  <div class="player-flex">
                    <div class="player-info-left">
                      <div>
                        <h3> <%= player.name %> </h3>
                      </div>
                      <p> <strong> <%= player.club.name %> </strong> ( <%= player.position.downcase %> ) </p>
                      <p> <%= goals.inject(0){|sum,x| sum + x } %> &nbsp; <i class="fas fa-futbol"></i> &nbsp; | &nbsp;
                      <%= assists.inject(0){|sum,x| sum + x } %> &nbsp; <i class="fas fa-hands-helping"></i> </p>
                    </div>

                    <div class="player-info-right">
                      <div>
                        <h3> <%= tokens_total_value %> € &nbsp; <i class="fas fa-wallet"></i> </h3>
                      </div>
                      <p> <%= token_total_amount %> <%= quantity %> &nbsp; <i class="fas fa-coins"></i> ( <%= token_average_value %> € avg. ) </p>
                      <p> <%= prices.min %> €  &nbsp; <i class="fas fa-sort-down"></i> &nbsp; | &nbsp; <%= prices.max %> € <i class="fas fa-sort-up"></i> </p>
                      <p>  </p>
                    </div>
                  </div>

              </div>
            </div>
          </div>
      <% end %>
      <div class="buy-sell">

          <%= link_to "buy coins", buy_player_path(player), class: "btn-buy-green"  %>


          <!-- <button type="button" class="btn btn-buy-green" data-toggle="modal" data-target="#buyCoins"> buy coins </button> -->

          <%= link_to "sell coins", sell_player_path(player), class: "btn-sell-red" %>



      </div>
<br>
<br>
    </div>
  <% end %>
</div>
