<h1>this is my_players page</h1>

<% @my_tokens.each do |token| %>
  <%= image_tag(token.player.photo, height: '32', width: '32', crop: :fill) %> |
  <%= token.player.name %> <%= token.player.id %> |
  <%= token.player.position %> |

  <% form = [] %>
  <% goals = [] %>
  <% assists = [] %>

  <% token.player.stats.each do |stat| %>
    <% form << stat.form.downcase %>
    <% goals << stat.goals %>
    <% assists << stat.assists %>
  <% end %>

  <% if form.include?('high') %>
    <% form = 'HGH' %>
  <% elsif form.include?('medium') %>
    <% form = 'AVG' %>
  <% elsif form.include?('low') %>
    <% form = 'LOW' %>
  <% else %>
    <% form = '-' %>
  <% end %>

  form: <%= form %> |
  goals: <%= goals.inject(0){|sum,x| sum + x } %> |
  assists: <%= assists.inject(0){|sum,x| sum + x } %> |

  <% prices = [] %>

  <% @transactions.each do |transaction| %>
    <% prices << transaction.price if transaction.player_id == token.player_id %>
  <% end %>

  last price: <%= prices.first %> € |
  min price: <%= prices.min %> € |
  max price: <%= prices.max %> € |

  <% variations = [] %>

  <% @transactions.each do |transaction| %>
    <% variations << transaction.price if transaction.player_id == token.player_id %>
  <% end %>

  last variation: <%= variations.first %> % |
  min variation: <%= variations.min %> % |
  max variation: <%= variations.max %> % |

  <br>

<% end %>

<% @transactions.each do |transaction| %>
  <%= transaction.date_time %> <%= transaction.player.name %> <%= transaction.price %> <br>
<% end %>

<br>

<% @my_transactions.each do |transaction| %>
  <%= transaction.date_time %> <%= transaction.player.name %> <%= transaction.price %> <br>
<% end %>
