<div class="container">
  <%= form_tag players_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a player"
    %>
  <% end %>
  <div class="row">
       <!-- insert <div class="card"> -->
    <% @players.each do |player| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to player_path(player) do %>
            <div class="card-trip">
              <%= cl_image_tag(player.photo)%>
              <div class="card-trip-infos">
                <div>
                  <h2><%= player.name %></h2>
                  <p><%= player.club.name %></p>
                  <p><em><%= player.position %></em></p>
                </div>
              </div>
            </div>
          <% end %>
<br>
<br>
      </div>
    <% end %>
  </div>
</div>
