
<div class="row">
  <% @players.each do |player| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to player_path(player) do %>
          <div class="card-trip">
            <%= image_tag(player.photo)%>
            <div class="car-trip-infos">
              <div id="player">
                <div>
                  <div>
                    <h3> <em><%= player.name %></em> </h3>
                  </div>
                  <table style="width:100%">
                    <tr>
                      <td><p><%= player.club.name %></p></td>
                      <td><p>Available tokens: <%= player.tokens.where(on_sale: true).count %> </p></td>
                    </tr>
                    <tr>
                      <td><p><%= player.age %></p></td>
                      <td><p><%= player.nationality %></p></td>
                    </tr>
                    <tr>
                      <td><p><em><%= player.position %></em></p></td>
                    </tr>
                  </table>
                </div>

              </div>
            </div>
          </div>
      <% end %>
<br>
<br>
    </div>
  <% end %>
</div>

