
<div class="row">
    <% @players.each do |player| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to player_path(player) do %>
            <div class="market-product">
              <div class="market-avatar">
                <%= image_tag(player.photo, crop: :fill, height: 150, width: 150)%>
              </div>
              <br>
              <div >
                <div id="player">
                    <h4><%= player.name %></h4>
                    <p><%= player.club.name %></p>
                    <p><%= player.age %></p>
                    <p><%= player.nationality %></p>
                    <p>Avilable tokens: <%= player.tokens.where(on_sale: true).count %> </p>
                    <p><em><%= player.position %></em></p>
                </div>
              </div>
            </div>
          <% end %>
<br>
<br>
      </div>
    <% end %>
  </div>

