<div class="tokens">

  <div class="buy-info">
    <%= image_tag (@player.photo) %> <br>


    <% if @tokens.count == 0 %>
      <h3>There are no coins from <%= @player.name %> available to buy at this moment... Check again later</h3>
    <% else %>
      <h3>How many coins from <%= @player.name %> would you like to buy?</h3>
    <% end %>

    <%= token_amount = @tokens.count %> <br>

    <% @tokens.each do |token| %>
      <%= token.id %> |
      <%= token.player_id %> |
      <%= token.on_sale %> |
      <%= token.owner %> |
      <%= token.last_price %> <br>
    <% end %>


    <%= simple_form_for(@player, method: :post, remote: true, url: purchase_player_path(@player)) do |f|%>

      <%= f.input :tokens, collection: 1..@tokens.count, prompt: "Select your tokens" %>
      <%= f.button :submit, "BUY", class: "btn btn-primary" %>
    <% end %>

  </div>

</div>



