<div class="player-container">
  <h3><%= @player.name %> </h3>
  <div class = "card-product">

    <div class="avatar">
      <%= image_tag(@player.photo, height: "300", width: "300", crop: :fill) %>
    </div>
      <div class = "info">
        <h4>Nationality</h4>
        <p><%= @player.nationality %></p>
      </div>
      <div class = "info">
        <h4>Position</h4>
        <p><%= @player.position %> </p>
      </div>
      <div class = "info">
        <h4>Age</h2>
        <p><%= @player.age %></p>
      </div>
      <div class = "info">
        <h4>Club</h4>
        <p><%= @player.club.name%></p>
      </div>
      <div class = "info">
        <h4>Social</h4>
        <a href="<%= @player.social_url %>", target="_blank"> <p><i class="fab fa-instagram fa-lg"></i></p></a>
      </div>
        <%#= link_to "Buy", new_player_booking_path(@player.id), class: "btn btn-primary book" %>
        <%#= link_to "Sell", new_player_booking_path(@player.id), class: "btn btn-primary book" %>
    </div>

  <div class="stats">

    <% @compet = @player.stats.first %>

    <div class="row">
      <div class="col">
        <div class="card-product-stats">
          <div class = "info">
            <h5>Competition</h5>
            <p><%= @compet.competition.name %></p>
          </div>
          <div class = "info">
            <h5>Games</h5>
            <p><%= @compet.games %></p>
          </div>
          <div class = "info">
            <h5>Goals</h5>
            <p><%= @compet.goals %></p>
          </div>

          <div class = "info">
            <h5>Assists</h5>
            <p><%= @compet.assists %></p>
          </div>
          <div class = "info">
            <h5>Yellow Card</h5>
            <p><%= @compet.yellow_card %></p>
          </div>
          <div class = "info">
            <h5>Red Card</h5>
            <p><%= @compet.red_card %></p>
          </div>
        </div>



      </div>
      <div class="col">
        <div class="card-product-stats" style="height: 395px;">
            <div class="chart-market-value">
              <%= line_chart @player.market_values.pluck(:date_time, :market_value), xtitle: "Year", ytitle: "Market Value (in €)", colors: ["blue"] %>
            </div>

            <div class="chart-last-price">
              <%= line_chart @player.transactions.pluck(:date_time, :price), xtitle: "Day", ytitle: "Token Price (in €)", colors: ["red"] %>
            </div>
        </div>
      </div>
    </div>
  </div>


</div>


