<div class="header2" >
  <div id="no-padding-bottom" class="row">
    <div class="header-info margin-top">

      <% if @variation < 0 %>
      <% cl = "red-big" %>
      <% elsif @variation > 0 %>
      <% @variation = "+#{@variation}" %>
      <% cl = "green-big" %>
      <% end %>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="info">
          <h1> <i class="fas fa-chart-line"></i> </h1>
          <h1 id=<%= cl %>> <%= @variation %>% </h1>
          <p> variation </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="info">
          <h1> <i class="far fa-gem"></i> </h1>
          <h1> <%= @player.market_values.last.market_value / 1000000 %>M €</h1>
          <p> market value <em>(in millions)</em> </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="info">
          <h1> <i class="fas fa-coins"></i> </h1>
          <h1> <%= @tokens.count %></h1>
          <% if @tokens.count > 1 %>
          <p> coins available </p>
          <% else %>
          <p> coin available </p>
          <% end %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="info">
          <h1> <i class="fas fa-money-bill-alt"></i> </h1>
          <h1><%= @token_last_price.last_price %> €</h1>
          <p> coin value </p>
        </div>
      </div>

    </div>
  </div>
  <div class = "card-product">
    <div class="avatar">
      <%= image_tag(@player.photo) %>
      <h2><%= @player.name %> </h2>
    </div>
  </div>
</div>

<div class="player-container">
  <div class="row">
    <div class="margin-sides">
      <div class="col-xs-2">

        <div class = "">
          <h4>Age</h4>
          <p><%= @player.age %></p>
        </div>
        <div class = "">
          <h4>Nationality</h4>
          <p><%= @player.nationality %></p>
        </div>
        <div class = "">
          <h4>Club</h4>
          <p><%= @player.club.name%></p>
        </div>
        <div class = "">
          <h4>Position</h4>
          <p><%= @player.position %> </p>
        </div>
        <div class = "social">
          <h4>Social</h4>
          <a href="<%= @player.social_url %>", target="_blank"> <p><i class="fab fa-instagram fa-lg"></i></p></a>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="field">
          <% if @player.position == "Forward"  %>
          <%= image_tag('field_ataque.png') %>
          <% elsif @player.position == "Goalkeeper"%>
          <%= image_tag('field_guarda_redes.png') %>
          <% elsif @player.position == "Midfielder" %>
          <%= image_tag('field_meio.png') %>
          <% elsif @player.position == "Defender"%>
          <%= image_tag('field_defesa.png') %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-7">
        <% @player.stats.each do |stat| %>
        <table class="table table-striped" style="border-spacing: 20px;">
          <thead>
            <tr class="green-row">
              <th scope="col"></th>
              <th scope="col">Competition</th>
              <th scope="col">Games</th>
              <th scope="col">Goals</th>
              <th scope="col">Assists</th>
              <th scope="col">Yellow Card</th>
              <th scope="col">Red Card</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td><%= stat.competition.name %></td>
              <td><%= stat.games %></td>
              <td><%= stat.goals %></td>
              <td><%= stat.assists %></td>
              <td><%= stat.yellow_card %></td>
              <td><%= stat.red_card %></td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class = "row">
  <div class="col-xs-12">
    <div class="header-charts2 margin-sides">
      <div class="" style="height: 395px;">
        <div class="chart-market-value2">
          <%= line_chart @player.market_values.pluck(:date_time, :market_value), xtitle: "days", ytitle: "market value €", title: "real market value", colors: ["#25C588"], width: "50%", height: "300px" %>
          <%= line_chart @player.transactions.pluck(:date_time, :price), xtitle: "days", ytitle: "transaction value €", colors: ["#25C588"], width: "50%", height: "300px",title: "transactions value" %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="buy-sell-center">

  <% if @player.tokens.where(on_sale: true).where.not(owner: current_user).count + @player.tokens.where(on_sale: true, owner: nil).count > 0 %>
    <%= link_to "Buy Coins", buy_player_path(@player), class: "btn-buy-green"  %>
  <% else %>
    <%  %>
  <% end %>

    <!-- <button type="button" class="btn btn-buy-green" data-toggle="modal" data-target="#buyCoins"> buy coins </button> -->
  <% if @player.tokens.where(owner: current_user.id, on_sale: false).count == 0 %>
    <%  %>
  <% else %>
    <%= link_to "Sell Coins", sell_player_path(@player), class: "btn-sell-red" %>
  <% end %>

</div>

<br>
<br>

<div class="margin-top">

</div>

<div class="margin-top">

</div>

<div class="margin-top">

</div>










